params {
  profile = false
  cache = ''
  kraken_db = '/data/ref_databases/kraken2/2021-05-17_standard'
  bracken_db = '/data/ref_databases/kraken2/2021-05-17_standard'
  taxonomic_level = "S"
  read_length = 150
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}

process {
  withName: kraken2 { 
    cpus = 8 
  }
}

manifest {
  author = 'Dan Fornika'
  description = 'Species Abundance'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}